<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discord Emotes BOT</title>
    <link rel="stylesheet" href="assets/css/style.css" />

    <script>
      const USER = <%- JSON.stringify(user) %>;
    </script>
  </head>
  <body>
    <div id="app">
      <!-- User modal -->
      <h1>{{ user.username }}#{{ user.discriminator }}</h1>
      <div class="user-area">
        <div class="avatar">
          <img :src="userAvatarUrl" alt />
        </div>
      </div>

      <!-- Guild selection modal -->
      <h2>Select your server</h2>
      <div class="guild-selection">
        <button
          @click="selectGuild(guild)"
          type="button"
          class="guild button"
          :class="{ selected: guild.id === selectedGuild.id }"
          v-for="guild in userOwnedGuilds"
        >
          <div class="image">
            <img :src="getGuildIconUrl(guild)" alt />
          </div>
          <div class="name">{{ guild.name }}</div>
        </button>
        <div
          class="input-error"
          v-if="selectGuildError.length"
          v-html="selectGuildError"
        ></div>
      </div>

      <!-- Server info modal -->
      <div class="server-info" v-if="selectedGuild.emotes">
        <p class="count">{{ selectedGuild.emotes.length }} emotes</p>
        <div class="emotes">
          <div class="emote" v-for="emote in selectedGuild.emotes">
            <div class="image">
              <img :src="emote.url" />
            </div>
            <div class="name">:{{ emote.name }}:</div>
          </div>
        </div>
      </div>

      <!-- Emote upload modal -->
      <form
        @submit.prevent="uploadFile"
        method="post"
        enctype="multipart/form-data"
        ref="uploadForm"
        v-if="selectedGuild.id"
      >
        <h2>Add an emote</h2>
        <div class="input-group">
          <label>
            <input type="radio" v-model="emoteUploadType" value="file" />
            From an image file:
          </label>
          <input
            @change="onInputFileChange"
            type="file"
            class="input"
            name="emote"
            accept="image/jpeg,image/png,image/gif"
            ref="uploadInput"
          />
          <div class="input-error" v-if="!uploadFileSizeValid">
            The file size exceeds {{ maxfileKB }}kb size limit.
          </div>
        </div>
        <div class="input-group">
          <label>
            <input type="radio" v-model="emoteUploadType" value="url" />
            From an image URL:
          </label>
          <input
            type="text"
            placeholder="External PNG/JPG/GIF image under 256 kb"
            class="input"
            v-model="emoteUrl"
          />
        </div>
        <div class="input-group">
          <label for="name">Name:</label>
          <input
            id="name"
            type="text"
            placeholder="e.g. FeelsGoodMan (no colons)"
            class="input"
            v-model="emoteName"
          />
        </div>
        <div class="input-group">
          <div
            class="input-error"
            v-if="uploadError.length"
            v-html="uploadError"
          ></div>
          <button class="button" :disabled="!uploadFileSizeValid">
            Submit
          </button>
        </div>
      </form>
    </div>

    <script src="assets/js/lib/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
