<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discord Emotes BOT</title>
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <h1>Authenticate with Discord to manage emotes</h1>
    <a class="button login-button" href="<%= url %>">
      <img class="logo" src="assets/img/logo-white.png" alt />
      Login with Discord</a
    >

    <h2>Showcase</h2>
    <p>
      <video src="assets/video/showcase.mp4" controls></video>
    </p>

    <h2>Info and legal garbage</h2>
    <p>
      <strong>The idea?</strong> Main idea behind this is to help nitro users to
      "borrow" emotes. The usual process is: open link in browser, save it,
      upload it, rename it. With this website and bot you can do it quicker -
      copying emote links, setting it's name or uploading it from a file from a
      single place.
    </p>
    <p>
      <strong>Why authenticate?</strong> This is only to see the servers you own
      and to verify that you are indeed the owner.
    </p>
    <p>
      <strong>Emotes bot?</strong> You will later be requried to add a Discord
      bot to your server. This is needed to fetch the server emotes for
      displaying on the website. Additionally, that is the only way to add
      emotes - via the bot user.
    </p>
    <p>
      <strong>What can the bot do?</strong> The bot needs only "Manage Emojis"
      permission, if you are feeling paranoid, feel free to block it from seeing
      or posting any messages. The bot can be removed at any moment by your
      choice and it'll not have any access to server emotes anymore.
    </p>
    <p>
      <strong>Can emotes be removed?</strong> No, this functionality is not
      implemented for one because I'm lazy and for your own good. If you want to
      remove emotes, do it directly via your Discord server settings.
    </p>
    <p>
      <strong>GDPR?</strong> This website does not store your data or use
      cookies. Once you end the session or
      navigate to /logout your data is gone until you login again.
    </p>
  </body>
</html>
