@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=latin-ext");

/* TODO: get gulp */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto 100px;
  width: 90%;
  max-width: 700px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: #23272a;
  color: #99aab5;
}

a {
  color: #7289da;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #7289da;
  margin: 50px auto 20px;
}

img,
video {
  max-width: 100%;
  display: inline-block;
}

p {
  margin: 10px auto;
}

.user-area .avatar {
  width: 128px;
}

.user-area .avatar img {
  width: 100%;
}

.emotes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.emote {
  flex-grow: 1;
  background: #2c2f33;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  margin: 5px;
}

.emote .name {
  font-size: 12px;
}

.emote .image {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background: #23272a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emote .image img {
  max-width: 100%;
  max-height: 100%;
}

.input-group {
  margin: 10px 0;
}

label {
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
}

.input {
  padding: 10px;
  width: 100%;
  outline: none;
  color: #99aab5;
  background: #2c2f33;
  border: 2px solid #222222;
}

.input-error {
  color: crimson;
  font-weight: bold;
  margin: 20px 0 10px;
}

.button {
  display: inline-block;
  outline: none;
  border: none;
  background: #7289da;
  color: #ffffff;
  text-transform: none;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #222222;
  transition: border 0.1s ease-in-out;
}

.button:hover {
  border-color: #7289da;
}

.login-button .logo {
  pointer-events: none;
  display: inline-block;
  height: 10px;
  margin-right: 4px;
}

.guild-selection {
  display: flex;
  flex-wrap: wrap;
}

.guild-selection .guild {
  /* Note: this element is a button */
  color: inherit;
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}

.guild-selection .guild.selected {
  color: #222222;
  background: #7289da;
}

.guild-selection .guild .name {
  font-size: 12px;
  margin-top: 10px;
}

.guild-selection .image {
  width: 64px;
  height: 64px;
}

.guild-selection .image img {
  width: 100%;
  height: 100%;
}
